Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
pymysql
python-dotenv
Werkzeug
pandas 
num2words
docx
python-docx
openpyxl
flask-wtf
flask-limiter
flask-mail
email_validator
itsdangerous    
wtforms 
email-validator 
mammoth   
docxtpl
python-dateutil
 
 
 
